<div class="col-md-12">
	<div class="container">
	<h1>Preparación Prueba</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, sunt quo iure ea culpa inventore neque, veritatis consequuntur numquam magnam sequi expedita, voluptatibus. Exercitationem minus illum cupiditate, suscipit quo placeat?</p>
	</div>
</div>